<%= form_with model:@place, local: true  do |form| %>

  <%= form.fields_for :cameras do |f| %>
      <%= f.number_field :working, class:"appearance-none block w-full py-3 px-4 leading-tight text-white-700 bg-white-50 focus:bg-white border border-white-200 focus:border-white-500 rounded" %>
      <%= f.number_field :fs, class:"appearance-none block w-full py-3 px-4 leading-tight text-white-700 bg-white-50 focus:bg-white border border-white-200 focus:border-white-500 rounded" %>
  <% end %>

  <div>
    <%= form.submit %>

  </div>
<% end %>
