<section class="">
    <div class="container px-4 mx-auto">
        <div>
            <%= link_to "Editar", edit_place_path(@place), class:"mb-4 inline-block md:w-auto px-4 py-2 font-medium text-white bg-indigo-500 hover:bg-indigo-600 rounded" %>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
                <div class="p-6 bg-white shadow rounded">
                    <div class="flex justify-between mb-4">
                        <div class="flex items-center">
                            <div class="flex mb-2">
                                <h3 class="text-2xl font-bold"><%= @place.name %></h3>
                            </div>
                        </div>
                    </div>
                    <% @place.cameras.each do |camera| %>
                        <div class="grid grid-cols-3 gap-3 ">
                            <div >
                                <h4 class="text-lg text-gray-500"><%= camera.kind_format %></h4>
                            </div>
                            <div class="text-center">
                                <span class="text-lg text-gray-500"><%= camera.working %> En funcionamiento.</span>
                            </div>
                            <div class="text-center">
                                <span class="text-lg text-gray-500"><%= camera.fs %> F/S.</span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>